// base colors
$black: #0E0F1E;
$white: #FEFEFE;
$white-clear: rgba(254, 254, 254, 0.50);
$bg: #E5E7F6;
$bg-footer: #0E0F1E;
$linear-accent: linear-gradient(118deg, #322FFF -37.41%, #B604EC 136.84%);
$blue: #4F4DCD;