// base colors
$black: #0E0F1E;
$white: #FEFEFE;
$white-clear: rgba(254, 254, 254, 0.50);
$bg: #E5E7F6;
$bg-footer: #0E0F1E;
$linear-accent: linear-gradient(118deg, #322FFF -37.41%, #B604EC 136.84%);
$blue: #4F4DCD;

// base gradient text
@mixin gradient-text {
    background: $linear-accent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

// base wrapp display
@mixin block-flex-wrapp {
    display: flex;
    flex-direction: column;
}

// blur ball
@mixin blur-ball {
    position: absolute;
    width: 532px;
    height: 532px;
    border-radius: 532px;
    background: $blue;
    filter: blur(200px);
    z-index: -1;
}

// base typography
@mixin description-typography {
    color: $blue;
    font-size: 18px;
    font-weight: 400;
    line-height: 140%;
    text-transform: uppercase
}

@mixin title-typography {
    color: $black;
    font-size: 48px;
    font-weight: 800;
    line-height: 120%;
    letter-spacing: -0.528px;
}

@mixin paragraph-typography {
    color: $black;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: -0.22px;
}

@mixin line-title-typography {
    font-size: 24px;
    font-weight: 700;
    line-height: 140%;
}

@mixin line-paragraph-typography {
    color: $black;
    line-height: 140%;
}