@import '../../styles/base.scss';

.switchWrapp {
    display: flex;
    gap: 20px;
}

.btnSwitch {
    position: relative;
    font-family: Manrope;
    padding: 8px 12px;
    border: 2px solid transparent;
    border-radius: 16px;
    background:$white-clear;
    cursor: pointer;
    color: $blue;
    font-size: 16px;
    line-height: 140%;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    transition: ease 0.3s;
    overflow: hidden;

    &:hover {
        transition: ease 0.3s;
        border: 2px solid $blue;
    }

    &Active {
        font-weight: 500;
        background: $white;
        border: 2px solid $blue;
        transition: ease 0.3s;
    }
}

