@import '../../styles/base.scss';

.header {
    position: fixed;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 80px;
    background: rgba(229, 231, 246, 0.50);
    backdrop-filter: blur(5px);
    z-index: 1;
}

.logoLink {
    color: $black;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: -0.22px;
}

.navigation {
    display: flex;
    gap: 48px;
    align-items: center;
    position: relative;
}

.list {
    display: flex;
    gap: 48px;
}

.line {
    padding: 8px 0px 8px 0px;
    color:#0A090E;
    line-height: 140%;
}

.authBtn {
    position: relative;
    width: 98px;
    height: 46px;
    border: none;
    border-radius: 16px;
    background-color: inherit;
    cursor: pointer;
    padding: 0px;
}

.btn {
    width: 98px;
    height: 46px;
}

.linkActive {
    background: $linear-accent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: ease 0.3s;
};

.active {
    position: absolute;
    bottom: 4px;
    width: 24px;
    height: 2px;
    background-image: $linear-accent;

    &HomePath {
        left: 19.5px;
        transition: ease 0.3s;
    }

    &catalog {
        left: 253px;
        transition: ease 0.3s;
        width: 50px;
    }

    &delivery {
        left: 516px;
        transition: ease 0.3s;
    }
}