@import '../../styles/base.scss';

.btnBorder {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    background: $linear-accent;
    border-radius: 18px;
}

.btn {
    display: flex;
    align-items: center;
    padding: 16px 24px;
    gap: 12px;
    border-radius: 16px;
    border: none;
    background: $linear-accent;
    font-family: Manrope;
    font-size: 18px;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: -0.198px;
    cursor: pointer;
    position: relative;
    appearance: none;
    outline: none;
    overflow: hidden;
    transition: ease 0.3s;

    &:hover {
        .iconArow {
            transition: fill 0.3s ease;
            fill: $blue;
            z-index: 2;
        }

        span {
            color: $blue;
            transition: color 0.3s ease;
        }
    }

    span {
        position: relative;
        pointer-events: none;
        z-index: 1;
        color: $white;
        transition: color 0.3s ease;
    }

    &::before {
        --size: 0;
        content: '';
        position: absolute;
        left: var(--x);
        top: var(--y);
        width: var(--size);
        height: var(--size);
        background: rgb(229 231 246);
        transform: translate(-50%, -50%);
        transition: width .5s ease, height .5s ease;
        border-radius: 50%;
    }

    &:hover::before {
        --size: 600px;
    }
}

.iconArow {
    transition: fill 0.3s ease;
    fill: $white;
    z-index: 2;
}