@import '../../styles/base.scss';

.titleWrapp {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 209px;
}

.title {
    color: $black;
    text-align: center;
    font-size: 64px;
    max-width: 700px;
    font-weight: 800;
    line-height: 120%;
    margin-bottom: 16px;
}

.paragraph {
    color: $black;
    text-align: center;
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: -0.22px;
    max-width: 631px;
    margin-bottom: 24px;
}

.btn {
    display: flex;
    align-items: center;
    padding: 16px 24px;
    gap: 12px;
    border: none;
    border-radius: 16px;
    background: $linear-accent;
    color: $white;
    font-family: Manrope;
    font-size: 18px;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: -0.198px;
    cursor: pointer;
}

.sectionWrapp {
    position: relative;
}

.iconElipse {
    min-width: 1374px;
    min-height: 734px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

.basketWrapp {
    position: absolute;
    top: 304px;
    right: 0px;
    max-width: 496px;
    width: 100%;
    max-height: 399px;

    @media screen and (max-width: 1158px) {
        max-width: 300px;
    }
}

.iconBigBasket {
    width: 100%;
}

.blurBall {
    position: absolute;
    max-width: 532px;
    max-height: 532px;
    width: 100%;
    height: 100%;
    border-radius: 532px;
    background: $blue;
    z-index: -2;
    filter: blur(175px);

    &Height {
        top: -224px;
        left: -216px;
    }

        &Bottom {
            top: 304px;
            left: calc(100vw - 470px);
            max-width: 100%;
        }
}

.iconSmallBaskets {
    position: absolute;
    top: 212px;
}