@import '../../styles/base.scss';

.titleWrapp {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 209px;
}

.title {
    color: $black;
    text-align: center;
    font-size: 64px;
    max-width: 700px;
    font-weight: 800;
    line-height: 120%;
    margin-bottom: 16px;
}

.paragraph {
    color: $black;
    text-align: center;
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: -0.22px;
    max-width: 631px;
    margin-bottom: 24px;
}

.btnBorder {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    background: $linear-accent;
    border-radius: 18px;
}

.btn {
    display: flex;
    align-items: center;
    padding: 16px 24px;
    gap: 12px;
    border-radius: 16px;
    border: none;
    background: $linear-accent;
    font-family: Manrope;
    font-size: 18px;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: -0.198px;
    cursor: pointer;
    position: relative;
    appearance: none;
    outline: none;
    overflow: hidden;
    transition: ease 0.3s;

    &:hover {
        .iconArow {
            transition: fill 0.3s ease;
            fill: $blue;
            z-index: 2;
        }
        span {
            color: $blue;
            transition: color 0.3s ease;
        }
    }

    span {
        position: relative;
        pointer-events: none;
        z-index: 1;
        color: $white;
        transition: color 0.3s ease;
    }

    &::before {
        --size: 0;
        content: '';
        position: absolute;
        left: var(--x);
        top: var(--y);
        width: var(--size);
        height: var(--size);
        background: rgb(229 231 246);
        transform: translate(-50%, -50%);
        transition: width .5s ease, height .5s ease;
        border-radius: 50%;
    }

    &:hover::before {
        --size: 600px;
    }
}

.iconArow {
    transition: fill 0.3s ease;
    fill: $white;
    z-index: 2;
}

.sectionWrapp {
    position: relative;
}

.iconElipse {
    min-width: 1374px;
    min-height: 734px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

.basketWrapp {
    position: absolute;
    right: 0px;
    max-width: 496px;
    width: 100%;
    height: 392px;
    background-image: url('../../assets/icons/basket3.png');

    @media screen and (max-width: 1158px) {
        max-width: 300px;
    }
}

.iconBigBasket {
    width: 100%;
}

.blurBall {
    position: absolute;
    max-width: 532px;
    max-height: 532px;
    width: 100%;
    height: 100%;
    border-radius: 532px;
    background: $blue;
    z-index: -2;
    filter: blur(175px);

    &Height {
        top: -224px;
        left: -216px;
    }

        &Bottom {
            top: 304px;
            left: calc(100vw - 470px);
            max-width: 100%;
        }
}

.iconSmallBaskets {
    width: 385px;
    height: 362px;
    position: absolute;
    z-index: -1;
    background-image: url('../../assets/icons/basket2.png');
}