@import '../../styles/base.scss';

.container {
    padding: 0px 80px
}

.titleWrapp {
    @include block-flex-wrapp;
    gap: 24px;
    max-width: 630px;
    width: 100%;
}

.description {
    @include description-typography;
}

.title {
    @include title-typography;
}

.list {
    display: flex;
    gap: 20px;
    margin-top: 48px;
    margin-bottom: 24px;
}

.line {
    width: 100%;
    padding: 24px;
    border-radius: 24px;
    background: $white-clear;
}

.lineWrapp {
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
}

.number {
    @include gradient-text;
    font-size: 18px;
}

.paragraph {
    @include paragraph-typography;
}

.btnWrapp {
    display: flex;
    justify-content: center;
}